<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="divMenu">
	<th:block th:each="menu : ${menus}">
	    <li class="header" th:text="${menu.label}">...</li>
	    <li th:each="menuItem : ${menu.items}" th:onclick="'loadContent(\'' + ${menuItem.area.path} + '\');'"
	        th:class="'clsMenu clsMenu-' + ${menuItem.area.path}">
	        <a>
	            <i class="fa fa-link"></i>
	            <span th:text="${menuItem.label}">...</span>
	        </a>
	    </li>
	</th:block>
</div>
</html>